*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: oklch(97.7% 0.013 236.62);
  --color-fg: #000000;
     --body-bg: white;
  
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
   --body-bg: oklch(20.5% 0 0);
   --text:#fff;
}

/* example use of CSS custom properties */
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: poppins;
  
}

.container{
    width: 1200px;
    margin: auto;
}
header{
    max-width: 100%;
    background-color: var(--body-bg);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
  
}
.profile{
    display: flex;
}
.profile .img img{
    width: 100px;
}
.profile .name{
    padding: 5px 20px;

}
.profile .name h1{
    color: var(--text);
    font-size: 28px;
}
.profile .name p{
    color: var(--text);
    font-size: 16px;
}
.profile .name .icons{
    display: flex;
    margin-top: 5px;
}
.profile .name .icon {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: gray;
    color: white;
    padding: 8px 0;
    font-size: 12px;
    border-radius: 50px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
}
.profile .name .icon:hover{
    background-color: #ddd;
    color:green;
}
.contact{
    margin-top: 25px;
}
.contact p{
    margin-bottom: 10px;
}
.dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.dark-mode button{
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    
}
.contact .btn button{
    font-weight: bold;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: forestgreen;
    transition: .3s;
}
.contact .btn button:hover{
    background-color: rgb(4, 172, 4);
}
.contact .btn i{
    margin-right: 8px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.col-8{
      width: 66.66666666666667%;
}
.col-4 {
  width: 33.33333333333333%;
  margin-bottom: 30px;
}
.about{
    background-color: var(--body-bg);
    padding: 20px;
    border-radius: 8px;
}
.about h2{
    margin-bottom: 20px;
    color: var(--text);
    font-size: 24px;
}
.about p{
    line-height: 1.5;
    color: var(--text);

}
.latest {
    background-color: var(--body-bg);
    margin-top:30px;
    border-radius: 8px;
    
}
.latest h2{
    padding: 20px;
    color: var(--text);
    font-size: 24px;
}
.latest .hero-image{
    position: relative;
}
.wrapper-product{
    width: 600px;
    height: 360px;
    margin: 50px auto;
    position:absolute;
    padding: 10px;
    overflow: hidden;
    top: -60px;
    left: 190px;
}
.product-new .title{
    width: 160px;
    height: 40px;
    background-color: cornflowerblue;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    position: absolute;
    top: 15px;
    right: -40px;
    transform: rotate(45deg);

}
.product-new .title::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent cornflowerblue;
    position: absolute;
    left : 13px;
    top: 35px;
    transform: rotate(-45deg);

}
.product-new .title::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent cornflowerblue;
    position: absolute;
    transform: rotate(45deg);
    top: 35px;
    left: 145px;

}
.latest-new{
    padding: 20px ;
    background-color: #000000;
}
.latest .hero-image img{
    width: 100%;
    padding: 0px 20px;
    border-radius: 8px;
}
.latest .latest-title{
    padding: 20px;
}
.latest .latest-title h3{
    text-align: center;
    color: var(--text);
}
.latest .latest-title p{
     line-height: 1.5;
    color: rgb(60, 60, 60);
    color: var(--text);
    margin-top: 15px;
}
.latest .btn{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.latest .btn button{
    padding: 8px 20px;
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: .3s;
}
.latest .btn button i{
    padding-right: 5px;
}
.latest .btn button:hover{
    background-color: rgb(107, 135, 187);
}
.latest .short-course{
    display: flex;
    padding: 20px;
}
.latest .short-course .course-img img{
    width: 100%;
    box-shadow: 0px 0px 5px rgb(128, 128, 128,0.25);
    border-radius: 5px;
}

.latest .short-course .course-detail {
    padding-left: 20px;
}
.latest .short-course .course-detail h3{
      color: var(--text);
}
.latest .short-course .course-detail p{
    line-height: 1.2;
    color: var(--text);
    margin-top: 5px;
}
.latest .short-course .course-detail button{
    border: none;
    color: green;
    font-size: 16px;
    background-color: var(--body-bg);
    margin-top: 10px;
    transition: .3s;
}
.latest .short-course .course-detail button:hover{
    color:rgb(0, 171, 0);
}
.address{
    margin-left: 30px;
    background-color: var(--body-bg);
    padding: 30px;
    border-radius: 8px;
}
.address p{
    margin-bottom: 20px;
}
.address p i{
    color: gray;
    margin-right: 10px;
}
.address p a{
    text-decoration: none;
    color: green;
    transition: .3s;
}
.address p a:hover{
    text-decoration: underline;
}
.skills{
    background-color: var(--body-bg);
    padding: 30px;
    border-radius: 8px;
     margin-left: 30px;
     margin-top: 30px;
}
.skills h2{
    color: var(--text);
    font-size: 24px;
}
.skills p{
    line-height: 1.5;
    color: var(--text);
    text-align:left;
    margin-top: 15px;
    margin-bottom: 30px;

}
.skills .progressive .course {
    margin-bottom: 30px;
}
.skills .progressive .course .progress-course{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--text);
}
.skills .progressive .course .progress-course .icon span{
    font-weight: lighter;
}
.progressive .progress-vote{
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border-radius: 20px;
}
.progressive .progress-vote .progress-voting{
    width: 95%;
    height: 15px;
    background-color: green;
    border-radius: 20px 0 0 20px;
}
.skills button{
    border: none;
    color: green;
    font-size: 16px;
    background-color: var(--body-bg);
    margin-top: 10px;
    transition: .3s;
}
.skills button:hover{
    color:rgb(0, 171, 0);
}
.testimonials {
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--body-bg);
    padding: 30px;
    border-radius: 8px;
}
.testimonials h2{
    color: var(--text);
    font-size: 24px;
}
.testimonials .test-description{
    border-left: 5px solid green;
}
.testimonials .test-description P{
    line-height: 1.1;
    color: var(--text);
    text-align:left;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.testimonials .test-description P i{
    color: green;
}
.testimonials .test-name{
      color: var(--text);
      margin-left: 20px;
      margin-bottom: 20px;
}
.testimonials button{
    border: none;
    color: green;
    font-size: 16px;
    background-color: var(--body-bg);
    margin: 10px 0;
    transition: .3s;
}
.testimonials button:hover{
    color:rgb(0, 171, 0);
}
.education{
    margin-left: 30px;
    margin-top: 30px;
    background-color: var(--body-bg);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}
.education h2{
    color: var(--text);
    font-size: 24px;
    margin-bottom: 20px;
}
.education .edu-ms{
    margin-bottom: 20px
}
.education .edu-ms h3{
    color: var(--text);
 
}
.education .edu-ms p{
    font-size: 12px;
   color: var(--text);
    font-weight:600;
    padding-left: 28px;
}
.education .edu-ms p span{
    font-weight: lighter;
}
.education .edu-bs h3{
    color: var(--text); 

}
.education .edu-bs p{
    font-size: 12px;
    color: var(--text);
    font-weight:600;
    padding-left: 28px;
}
.education .edu-bs p span{
    font-weight: lighter;
}
.languages{
    margin-left: 30px;
    background-color: var(--body-bg);
    padding: 30px;
    border-radius: 8px;

}
.languages h2{
    color: var(--text);
    font-size: 24px;
    margin-bottom: 20px;
}
.languages .lang-english{
    margin-bottom: 20px;
}
.languages .lang-english p{
    color: var(--text);
    font-weight:600;
}
.languages .lang-english p span{
    font-weight: lighter;
}
.languages .icon i{
    color: green;
    margin-top: 5px;
}
footer{
    margin-top: 50px;
    padding: 20px;
    background-color: oklch(20.5% 0 0)
}
footer p{
    color: rgb(162, 160, 160);
    text-align: center;
}
footer span{
    color: #ddd;
}
footer i{
    color: red;
}